<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<a href="" class="navbar-brand">Spring App</a>	
	
	<div class="collapse navbar-collapse" id="nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a href="/cities" class="nav-link">Cities</a>
			</li>
			<li class="nav-item active">
				<a href="/" class="nav-link">About</a>
			</li>
		</ul>
	</div>
</nav> -->

<nav class="navbar navbar-light navbar-expand-sm navigation-clean-button">
    <div class="container-fluid"><a class="navbar-brand" href="#">Spring App</a>
    	<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
    		<span class="sr-only">Toggle navigation</span>
    		<span class="navbar-toggler-icon"></span>
    	</button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>                
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/cities">Cities</a></li>
            </ul>
            <div class="dropdown"><a data-toggle="dropdown" aria-expanded="false" class="container-fluid" href="#"><span class="material-icons">list</span></a>
    		<div role="menu" class="dropdown-menu">
    			<a role="presentation" class="dropdown-item" href="#">First Item</a>
    			<a role="presentation" class="dropdown-item" href="#">Second Item</a>
    			<a role="presentation" class="dropdown-item" href="#">Third Item</a></div>
			</div>
            <span class="navbar-text actions">
            	<a class="login" href="#">Log In</a>
            	<a class="btn btn-light action-button" role="button" href="#">Sign Up</a>
            </span>
		</div>
    </div>
</nav>